/* .App {
  text-align: center;
 
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blogpageheader{
  display: flex;
  justify-content: space-between;
}
.blogpageheader a{
  padding-top: 20px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: large;
}
.post img{
max-width: 30%;
height: 20%;
margin-top: 50px;
}
.post{
  display: flex;
  margin-bottom: 2rem;
}
.author{
  display: flex;
}
.author p{
margin: 0;
}
.textarea{
  width: 100%;
 color: black;
 border: 23px;
}
.addblog input{
  width: 100%;
  display: inline-block;
}
.image{
  display: flex;
  justify-content: space-between;
}
.nav{
  display: flex;
  justify-content: space-between;
}
.nav div{
  margin-top: 20px;
}
.postpage img{
  height: 20%;
  max-width: 70%;
}
a{
  text-decoration: underline;
  color: #333;
}